# 取引履歴

In [1]:
import pandas as pd

In [2]:
COINCHECK_PATH="../rawdata/trades/latest_trades_coincheck.csv"
LIQUID_PATH="../rawdata/trades/latest_trades_liquid.csv"

In [3]:
def read_trades(path):
    return pd.read_csv(path, index_col="id", parse_dates=["datetime"]).sort_values('datetime', ascending=False)

cc_trades = read_trades(COINCHECK_PATH)
lq_trades = read_trades(LIQUID_PATH)

In [4]:
len(cc_trades), len(lq_trades)

(20, 20)

In [5]:
length = min(len(cc_trades), len(lq_trades))

In [6]:
cc_trades = cc_trades.head(length)
lq_trades = lq_trades.head(length)

In [7]:
cc_trades.head(5)

,order_id,datetime,pair,side,fee,amount,price,rate
id,,,,,,,,
275779627,2278649704,2020-03-17 15:02:39,BTC/JPY,sell,0.0,-0.009,5150.331,572259.0
275779518,2278649510,2020-03-17 15:02:34,BTC/JPY,buy,0.0,0.009,5148.995,573000.0
275776673,2278627284,2020-03-17 14:48:57,BTC/JPY,buy,0.0,0.009,5123.995,569935.0
275776611,2278626991,2020-03-17 14:48:48,BTC/JPY,sell,0.0,-0.009,5121.045,569005.0
275769855,2278556901,2020-03-17 14:06:29,BTC/JPY,buy,0.0,0.009,5123.998,570585.0

In [8]:
lq_trades.head(5)

,order_id,datetime,pair,side,fee,amount,price,rate
id,,,,,,,,
280054210,2261743839,2020-03-17 15:02:39,BTC/JPY,buy,0,0.009,5158.287,573143.0
280054052,2261743229,2020-03-17 15:02:34,BTC/JPY,sell,0,0.009,5168.142,574238.0
280048731,2261695958,2020-03-17 14:48:58,BTC/JPY,sell,0,0.009,5124.618,569402.0
280048545,2261695147,2020-03-17 14:48:48,BTC/JPY,buy,0,0.009,5122.701,569189.0
280033022,2261554282,2020-03-17 14:06:29,BTC/JPY,sell,0,0.009,5128.875,569875.0

In [9]:
def calc_profit(trades):
    total_profit = 0
    
    buy = 0
    sell = 0
    for i, row in enumerate(trades.iterrows()):
        data = row[1]
        side = data.side
        price = int(data.price)
        
        if side == "buy":
            buy = price
        else:
            sell = price
        
        if i % 2 == 1:
            profit = sell - buy
            total_profit += profit
            print(data.datetime, buy, sell, profit, total_profit)
    return total_profit

In [10]:
cc_profit = calc_profit(cc_trades)
print()
print()
lq_profit = calc_profit(lq_trades)
total_profit = cc_profit + lq_profit

2020-03-17 15:02:34 5148 5150 2 2
2020-03-17 14:48:48 5123 5121 -2 0
2020-03-17 14:06:19 5123 5123 0 0
2020-03-17 13:43:00 5094 5100 6 6
2020-03-17 13:42:54 5087 5100 13 19
2020-03-17 13:30:58 5087 5117 30 49
2020-03-17 13:17:54 5098 5144 46 95
2020-03-17 13:14:19 5153 5184 31 126
2020-03-17 13:09:27 5177 5181 4 130
2020-03-17 13:07:29 5167 5179 12 142


2020-03-17 15:02:34 5158 5168 10 10
2020-03-17 14:48:48 5122 5124 2 12
2020-03-17 14:06:19 5124 5128 4 16
2020-03-17 13:43:00 5095 5095 0 16
2020-03-17 13:42:54 5096 5100 4 20
2020-03-17 13:30:57 5111 5091 -20 0
2020-03-17 13:17:54 5128 5089 -39 -39
2020-03-17 13:14:18 5160 5136 -24 -63
2020-03-17 13:09:27 5158 5164 6 -57
2020-03-17 13:07:29 5158 5154 -4 -61

In [11]:
cc_profit, lq_profit, total_profit

(142, -61, 81)