# 取引履歴

In [1]:
import pandas as pd

In [2]:
COINCHECK_PATH="../data/trades/samples/latest_trades_coincheck.csv"
LIQUID_PATH="../data/trades/samples/latest_trades_liquid.csv"

In [3]:
def read_trades(path):
    return pd.read_csv(path, index_col="id", parse_dates=["datetime"]).sort_values('datetime', ascending=False)

cc_trades = read_trades(COINCHECK_PATH)
lq_trades = read_trades(LIQUID_PATH)

In [4]:
len(cc_trades), len(lq_trades)

(157, 157)

In [5]:
length = min(len(cc_trades), len(lq_trades))

In [6]:
cc_trades = cc_trades.head(length)
lq_trades = lq_trades.head(length)

In [7]:
cc_trades.head(5)

,order_id,datetime,pair,side,fee,amount,price,rate
id,,,,,,,,
275660913,2277827928,2020-03-17 08:01:25,BTC/JPY,buy,0.0,0.009,4839.997,538782.0
275660115,2277819591,2020-03-17 07:56:56,BTC/JPY,sell,0.0,-0.009,4837.815,537535.0
275659933,2277818931,2020-03-17 07:56:41,BTC/JPY,buy,0.0,0.009,4828.998,538375.0
275658821,2277806741,2020-03-17 07:50:23,BTC/JPY,sell,0.0,-0.009,4827.843,536427.0
275658275,2277800987,2020-03-17 07:47:32,BTC/JPY,buy,0.0,0.009,4820.997,536128.0

In [8]:
lq_trades.head(5)

,order_id,datetime,pair,side,fee,amount,price,rate
id,,,,,,,,
279802497,2259997448,2020-03-17 08:01:25,BTC/JPY,sell,0,0.009,4833.819,537091.0
279800450,2259980496,2020-03-17 07:56:56,BTC/JPY,buy,0,0.009,4832.829,536981.0
279799915,2259978691,2020-03-17 07:56:41,BTC/JPY,sell,0,0.009,4828.203,536467.0
279797461,2259956678,2020-03-17 07:50:23,BTC/JPY,buy,0,0.009,4820.643,535627.0
279796288,2259946179,2020-03-17 07:47:32,BTC/JPY,sell,0,0.009,4819.410,535490.0

In [9]:
def calc_profit(trades):
    total_profit = 0
    
    buy = 0
    sell = 0
    for i, row in enumerate(trades.iterrows()):
        data = row[1]
        side = data.side
        price = int(data.price)
        
        if side == "buy":
            buy = price
        else:
            sell = price
        
        if i % 2 == 1:
            profit = sell - buy
            total_profit += profit
            print(data.datetime, buy, sell, profit, total_profit)
    return total_profit

In [10]:
cc_profit = calc_profit(cc_trades)
print()
print()
lq_profit = calc_profit(lq_trades)
total_profit = cc_profit + lq_profit

2020-03-17 07:56:56 4839 4837 -2 -2
2020-03-17 07:50:23 4828 4827 -1 -3
2020-03-17 07:47:21 4820 4813 -7 -10
2020-03-17 07:46:52 4822 4837 15 5
2020-03-17 07:42:49 4835 4860 25 30
2020-03-17 07:42:36 4851 4851 0 30
2020-03-17 07:30:27 4841 4800 -41 -11
2020-03-17 07:29:57 4787 4788 1 -10
2020-03-17 07:29:28 4782 4801 19 9
2020-03-17 07:17:39 4786 4820 34 43
2020-03-17 07:17:04 4826 4821 -5 38
2020-03-17 07:16:46 4824 4832 8 46
2020-03-17 07:15:09 4804 4821 17 63
2020-03-17 07:14:31 4817 4822 5 68
2020-03-17 07:11:28 4821 4834 13 81
2020-03-17 07:09:35 4837 4856 19 100
2020-03-17 06:45:17 4819 4826 7 107
2020-03-17 06:30:17 4870 4882 12 119
2020-03-17 06:29:13 4839 4875 36 155
2020-03-17 06:25:03 4830 4847 17 172
2020-03-17 06:01:35 4805 4800 -5 167
2020-03-17 05:58:52 4796 4807 11 178
2020-03-17 05:57:32 4796 4834 38 216
2020-03-17 05:56:24 4843 4842 -1 215
2020-03-17 05:53:45 4822 4824 2 217
2020-03-17 05:53:36 4828 4819 -9 208
2020-03-17 05:53:18 4797 4818 21 229
2020-03-17 05:50:44 4778 4772 -6 223
2020-03-17 05:48:59 4785 4788 3 226
2020-03-17 05:38:33 4769 4840 71 297
2020-03-17 05:31:35 4837 4873 36 333
2020-03-17 05:31:16 4862 4863 1 334
2020-03-17 05:20:40 4848 4862 14 348
2020-03-17 05:20:18 4851 4843 -8 340
2020-03-17 05:14:49 4829 4869 40 380
2020-03-17 05:12:46 4856 4865 9 389
2020-03-17 05:08:14 4853 4873 20 409
2020-03-17 05:07:40 4852 4839 -13 396
2020-03-17 05:07:33 4830 4847 17 413
2020-03-17 05:06:47 4821 4827 6 419
2020-03-17 05:06:33 4831 4839 8 427
2020-03-17 05:03:26 4835 4892 57 484
2020-03-17 05:02:59 4914 4923 9 493
2020-03-17 05:02:23 4936 4914 -22 471
2020-03-17 05:02:04 4950 4947 -3 468
2020-03-17 05:01:58 4966 4958 -8 460
2020-03-17 05:01:45 4932 4928 -4 456
2020-03-17 05:01:20 4917 4905 -12 444
2020-03-17 05:00:58 4895 4942 47 491
2020-03-17 05:00:43 4895 4892 -3 488
2020-03-17 04:59:57 4870 4876 6 494
2020-03-17 04:54:14 4863 4894 31 525
2020-03-17 04:53:11 4868 4861 -7 518
2020-03-17 04:52:41 4850 4842 -8 510
2020-03-17 04:51:43 4863 4880 17 527
2020-03-17 04:50:29 4897 4937 40 567
2020-03-17 04:49:17 4910 4979 69 636
2020-03-17 04:46:45 4969 4989 20 656
2020-03-17 04:45:07 4963 4985 22 678
2020-03-17 04:44:47 4922 4922 0 678
2020-03-17 04:44:25 4882 4869 -13 665
2020-03-17 04:43:47 4867 4861 -6 659
2020-03-17 04:40:15 4843 4845 2 661
2020-03-17 04:39:49 4829 4821 -8 653
2020-03-17 04:38:05 4811 4808 -3 650
2020-03-17 04:35:06 4796 4885 89 739
2020-03-17 04:31:47 4879 4961 82 821
2020-03-17 04:30:39 4952 4999 47 868
2020-03-17 04:11:28 4990 5044 54 922
2020-03-17 03:57:15 5029 5052 23 945
2020-03-17 03:52:17 5032 5050 18 963
2020-03-17 03:49:32 5044 5026 -18 945
2020-03-17 03:48:31 5033 5027 -6 939
2020-03-17 03:45:28 5024 5033 9 948
2020-03-17 03:35:45 5023 5045 22 970
2020-03-17 03:34:49 5057 5051 -6 964
2020-03-17 03:34:17 5038 5067 29 993
2020-03-17 03:27:19 5038 5001 -37 956


2020-03-17 07:56:56 4832 4833 1 1
2020-03-17 07:50:23 4820 4828 8 9
2020-03-17 07:47:21 4819 4819 0 9
2020-03-17 07:46:52 4835 4822 -13 -4
2020-03-17 07:42:49 4844 4831 -13 -17
2020-03-17 07:42:36 4838 4860 22 5
2020-03-17 07:30:27 4793 4840 47 52
2020-03-17 07:29:57 4779 4790 11 63
2020-03-17 07:29:28 4785 4778 -7 56
2020-03-17 07:17:38 4822 4788 -34 22
2020-03-17 07:17:04 4818 4825 7 29
2020-03-17 07:16:46 4821 4824 3 32
2020-03-17 07:15:09 4818 4805 -13 19
2020-03-17 07:14:31 4819 4817 -2 17
2020-03-17 07:11:28 4831 4822 -9 8
2020-03-17 07:09:35 4853 4842 -11 -3
2020-03-17 06:45:17 4835 4833 -2 -5
2020-03-17 06:30:17 4885 4884 -1 -6
2020-03-17 06:29:13 4870 4852 -18 -24
2020-03-17 06:25:03 4838 4829 -9 -33
2020-03-17 06:01:35 4801 4807 6 -27
2020-03-17 05:58:52 4808 4811 3 -24
2020-03-17 05:57:32 4831 4799 -32 -56
2020-03-17 05:56:23 4838 4847 9 -47
2020-03-17 05:53:45 4823 4823 0 -47
2020-03-17 05:53:36 4816 4825 9 -38
2020-03-17 05:53:19 4814 4813 -1 -39
2020-03-17 05:50:44 4773 4779 6 -33
2020-03-17 05:48:58 4779 4778 -1 -34
2020-03-17 05:38:33 4832 4778 -54 -88
2020-03-17 05:31:35 4864 4835 -29 -117
2020-03-17 05:31:15 4854 4857 3 -114
2020-03-17 05:20:40 4853 4848 -5 -119
2020-03-17 05:20:18 4836 4861 25 -94
2020-03-17 05:14:49 4863 4827 -36 -130
2020-03-17 05:12:46 4855 4852 -3 -133
2020-03-17 05:08:14 4862 4854 -8 -141
2020-03-17 05:07:40 4830 4853 23 -118
2020-03-17 05:07:33 4844 4846 2 -116
2020-03-17 05:06:47 4820 4819 -1 -117
2020-03-17 05:06:33 4834 4827 -7 -124
2020-03-17 05:03:26 4893 4827 -66 -190
2020-03-17 05:02:59 4919 4908 -11 -201
2020-03-17 05:02:23 4916 4926 10 -191
2020-03-17 05:02:04 4951 4954 3 -188
2020-03-17 05:01:58 4958 4947 -11 -199
2020-03-17 05:01:45 4914 4923 9 -190
2020-03-17 05:01:20 4899 4916 17 -173
2020-03-17 05:00:58 4930 4921 -9 -182
2020-03-17 05:00:42 4884 4901 17 -165
2020-03-17 04:59:57 4860 4866 6 -159
2020-03-17 04:54:14 4876 4859 -17 -176
2020-03-17 04:53:11 4845 4859 14 -162
2020-03-17 04:52:41 4829 4843 14 -148
2020-03-17 04:51:42 4868 4855 -13 -161
2020-03-17 04:50:29 4912 4882 -30 -191
2020-03-17 04:49:17 4952 4900 -52 -243
2020-03-17 04:46:45 4959 4959 0 -243
2020-03-17 04:45:07 4970 4958 -12 -255
2020-03-17 04:44:46 4898 4932 34 -221
2020-03-17 04:44:25 4858 4884 26 -195
2020-03-17 04:43:47 4839 4861 22 -173
2020-03-17 04:40:15 4831 4840 9 -164
2020-03-17 04:39:48 4812 4824 12 -152
2020-03-17 04:38:05 4800 4804 4 -148
2020-03-17 04:35:06 4874 4793 -81 -229
2020-03-17 04:31:47 4946 4881 -65 -294
2020-03-17 04:30:39 4989 4950 -39 -333
2020-03-17 04:11:28 5035 4992 -43 -376
2020-03-17 03:57:15 5041 5035 -6 -382
2020-03-17 03:52:16 5040 5034 -6 -388
2020-03-17 03:49:32 5016 5047 31 -357
2020-03-17 03:48:31 5014 5028 14 -343
2020-03-17 03:45:28 5020 5014 -6 -349
2020-03-17 03:35:45 5033 5018 -15 -364
2020-03-17 03:34:49 5043 5052 9 -355
2020-03-17 03:34:17 5059 5054 -5 -360
2020-03-17 03:27:19 4992 5054 62 -298

In [11]:
cc_profit, lq_profit, total_profit

(956, -298, 658)

BTCがトレードによって減っているため、この利益から0.0002BTCを引いた値が利益？